@import url('https://fonts.googleapis.com/css?family=Lato|Inconsolata|Fira+Sans');

.App {
  text-align: center;
}

.Homepage {
  background-color: rgb(65, 125, 255);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  justify-content: space-between;
}

.Header {
  font-family: 'Fira Sans', sans-serif;
  font-size: 96px;
  margin-top: 20vh;
}

.Search {
  margin-bottom: 49vh;
}

.Search input {
  font-size: 45px;
  border: none;
  padding: 1vmin;
  text-align: center;
  font-family: 'Lato';
}

.Searchbar {
  width: 50vw;
}
