@import url('https://fonts.googleapis.com/css?family=Lato|Inconsolata|Fira+Sans|Comic+Sans');

.App {
  text-align: center;
}

.Homepage {
  background-color: rgb(105, 125, 255);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  justify-content: space-between;
}

.Header {
  font-family: 'Fira Sans', sans-serif;
  font-size: 96px;
  margin-top: 20vh;
}

.Header:hover {
  font-family: 'Comic Sans MS';
  margin-top: 17.5vh;
}

.Search {
  padding-bottom: 1vh;
  padding-top: 1vh;
}

.Search input {
  font-size: 45px;
  border: none;
  padding: 1vmin;
  text-align: center;
  font-family: 'Lato';
}

.Searchbar {
  width: 50vw;
}

.Card {
  max-width: 345px;
  background-color: #FFED7A;
}

.CardMedia {
  height: 50vh;
}
